.header-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.header-description {
    line-height: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.logo {
    font-size: 4rem;
    text-align: center;
}


@media (max-width: 550px) {
    .logo {
        font-size: 2rem;
        text-align: center;
    }
}