<div class="header-content">
    <h1 class="logo">
        <span class="logo-name1">RATING</span>
        <span class="logo-name2">CRAFT</span>
        <br>
    </h1>
    <h2>Лучший мониторинг Minecraft серверов 2025</h2>
    <div class="header-description">
        <p>
            Топовые Minecraft сервера онлайн с рейтингом! Ищите <strong>выживание</strong>,
            <strong>мини-игры</strong>, <strong>приватные сервера</strong> или <strong>SkyBlock</strong>? У нас собраны
            самые популярные проекты с высокой онлайн-активностью.
        </p>
        <h2>
            <a href="/add-server" class="link">Добавьте свой сервер</a> и привлекайте больше игроков!
        </h2>
    </div>

</div>