<mat-toolbar class="rc-toolbar">
    <a href="/" class="logo">
        <span class="logo-name1">RATING</span>
        <span class="logo-name2">CRAFT</span>
    </a>
    <span class="spacer"></span>
    
    <div class="rc-toolbar--actions">
        <sbi-dark-slider></sbi-dark-slider>
        @if (authService.isUserLoggedIn() && user) {
            <sbi-avatar 
                size="regular" 
                [showBadge]="false"
                [imageUrl]="user.picture || '/assets/avatar.svg'"
                [matMenuTriggerFor]="menu">
            </sbi-avatar>
        } @else {
            <rc-button (click)="openLoginDialog()" [type]="'submit'">Войти</rc-button>
        }
    </div>
      
</mat-toolbar>

<mat-menu #menu="matMenu" [class]="'rc-menu'">
    <a mat-menu-item routerLink="user/payments" routerLinkActive="active">Платежи</a>
    <a mat-menu-item routerLink="add-server" routerLinkActive="active">Добавить сервер</a>
    <a mat-menu-item routerLink="user/my-servers" routerLinkActive="active">Мои сервера</a>
    <a mat-menu-item routerLink="user/favorite-servers" routerLinkActive="active">Любимые сервера</a>
    <button mat-menu-item (click)="logout()">Выйти из аккаунта</button>
</mat-menu>