:host {
    position: sticky;
    top: 0;
    z-index: 99;

    .spacer {
        flex: 1 1 auto;
    }
    
    .rc-toolbar {
        background: var(--surface-secondary);
        box-shadow: 6px 17px 24px 0px #494B590A;
    }

    .avatar {
        width: 32px;
        height: 32px;
        background: var(--gradient-text);
    }
}
